<a href="https://colab.research.google.com/github/Mostak-Ahmmed/Data-Mining/blob/main/213902126_task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [ ]:


data = pd.read_csv('/content/126.csv')

data.head(5)

           job_title  Exp(yerars)  salary Remote
0       data scinece          5.0     120    yes
1  software engineer          2.0      80     no
2  marketing manager          NaN      95    yes
3    Graphic deginer          1.0      50     no
4       data scinece          8.0    1500    NaN

In [ ]:
data.isnull().sum()

job_title      0
Exp(yerars)    1
salary         0
Remote         1
dtype: int64

In [ ]:
data['Exp(yerars)'].fillna(data['Exp(yerars)'].mean(), inplace=True)

<ipython-input-20-fd936884dd00>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Exp(yerars)'].fillna(data['Exp(yerars)'].mean(), inplace=True)

In [ ]:
data['Remote'].fillna(data['Remote'].mode()[0], inplace=True)

<ipython-input-21-88475c101995>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Remote'].fillna(data['Remote'].mode()[0], inplace=True)

In [ ]:
data.isnull().sum()

job_title      0
Exp(yerars)    0
salary         0
Remote         0
dtype: int64

Normalize the “Experience” column using the proper scaling method.

In [ ]:
# 2. Normalize Experience
scaler = MinMaxScaler()
data['Exp(yerars)'] = scaler.fit_transform(data[['Exp(yerars)']])
print(data)

   Exp(yerars)  salary  job_title_data scinece  job_title_marketing manager  \
0     0.571429     120                    True                        False
1     0.142857      80                   False                        False
2     0.428571      95                   False                         True
3     0.000000      50                   False                        False
4     1.000000    1500                    True                        False

   job_title_software engineer  Remote_yes
0                        False        True
1                         True       False
2                        False        True
3                        False       False
4                        False       False

Handle all the categorical data columns present in this dataset using proper
encoding methods.

In [ ]:
# 3. Encode Categorical Data
data = pd.get_dummies(data, columns=['job_title', 'Remote'], drop_first=True)

print(data)

   Exp(yerars)  salary  job_title_data scinece  job_title_marketing manager  \
0          5.0     120                    True                        False
1          2.0      80                   False                        False
2          4.0      95                   False                         True
3          1.0      50                   False                        False
4          8.0    1500                    True                        False

   job_title_software engineer  Remote_yes
0                        False        True
1                         True       False
2                        False        True
3                        False       False
4                        False       False